In [8]:
import pandas as pd
import numpy as np

In [4]:
series02 = pd.Series([87,90,89])
series02

0    87
1    90
2    89
dtype: int64

In [6]:
series02.index = ['语文','数学','英语']
series02

语文    87
数学    90
英语    89
dtype: int64

In [10]:
series03 = pd.Series(data=[89,87,85],dtype=np.float64,index=['语文','数学','英语'])
series03

语文    89.0
数学    87.0
英语    85.0
dtype: float64

In [12]:
dict1 = {'20190101':1234.1,'20190201':4124.4,'20190301':6123.2}
series04 = pd.Series(dict1)
print(series04)
print('index:',series04.index)
print('values',series04.values)
print('dtype:',series04.dtype)

20190101    1234.1
20190201    4124.4
20190301    6123.2
dtype: float64
index: Index(['20190101', '20190201', '20190301'], dtype='object')
values [1234.1 4124.4 6123.2]
dtype: float64

In [13]:
series04['20190101']

1234.1

In [14]:
series04[0]

1234.1

In [15]:
series04[-1]

6123.2

In [16]:
series04[1:]

20190201    4124.4
20190301    6123.2
dtype: float64

In [17]:
series04>1000

20190101    True
20190201    True
20190301    True
dtype: bool

In [18]:
series04[series04>4000]

20190201    4124.4
20190301    6123.2
dtype: float64

In [19]:
series04/100

20190101    12.341
20190201    41.244
20190301    61.232
dtype: float64

In [24]:
series = pd.Series([-1,-2,3,4])
print(np.exp(series))
print()
print(np.fabs(series))

0     0.367879
1     0.135335
2    20.085537
3    54.598150
dtype: float64

0    1.0
1    2.0
2    3.0
3    4.0
dtype: float64

In [35]:
scores = pd.Series({'Tom':89,'John':88,'Merry':96,'Max':65})
print(scores)
new_index = ['Tom','Max','Joe','John','Merry']
scores = pd.Series(scores,index=new_index)
print(scores)

Tom      89
John     88
Merry    96
Max      65
dtype: int64
Tom      89.0
Max      65.0
Joe       NaN
John     88.0
Merry    96.0
dtype: float64

In [36]:
pd.isnull(scores)

Tom      False
Max      False
Joe       True
John     False
Merry    False
dtype: bool

In [37]:
pd.notnull(scores)

Tom       True
Max       True
Joe      False
John      True
Merry     True
dtype: bool

In [38]:
scores[pd.isnull(scores)]

Joe   NaN
dtype: float64

In [39]:
scores[pd.notnull(scores)]

Tom      89.0
Max      65.0
John     88.0
Merry    96.0
dtype: float64

In [41]:
scores['Joe']=-1
print(scores)

Tom      89.0
Max      65.0
Joe      -1.0
John     88.0
Merry    96.0
dtype: float64

In [43]:
#DataFrame
df01 = pd.DataFrame([['Tom','Gerry','John'],[76,98,85]])
print(df01)

     0      1     2
0  Tom  Gerry  John
1   76     98    85

In [45]:
arr = np.array([
    ['Tom',76],
    ['Gerry',98],
    ['John',85]
])
df03 = pd.DataFrame(arr,index=['one','two','three'],columns=['name','score'])
print(df03)

        name score
one      Tom    76
two    Gerry    98
three   John    85